/* 网教页面专属样式*/
/*时间起：2020.05.06
  时间止：
  制作人：飞鱼！
*/



/*网教广告banner开始*/
div.top_img {
	padding: 0;
}
.top_img img {
	width: 100%;
	height: 100%;
}
div.new p {
	letter-spacing: 2px;
}
/*网教主要内容开始*/

.tab .wj {
	width: 1000px;
	/* border: 1px solid red; */
	margin: auto;
}

.tab .wj h3 {
	line-height: 48px;
	font-size: 30px;
	margin: 46px auto 8px;
}
.tab .wj .notes {
	font-size: 16px;
	line-height: 30px;
	text-align: left;
	text-indent: 2em;	/* 首行缩进2个字符 */
}
.wj h4 {
	font-size: 20px;
	text-align: left;	/* 文本对齐方式，居左 */
	line-height: 68px;
	text-indent: -30px;
}
.wj .content{
	line-height: 28px;
	border: 1px solid #999;
	margin-top: 20px;
	border-left: 0;
	border-right: 0;
}

.wj .content p {
	font-size: 20px;
	font-weight: 600;
	text-indent: 0;
}
.wj .bold {
	font-weight: 600;
	margin: 18px 0 18px -34px ;
}

.wj .content a {
	display: inline-block;	/*行内块 */
	font-size: 16px;
	text-align: left;
	margin-left: 20px;
	color: #136ec2;
	position: relative;	/* 相定 */
	top: -10px;
}
.wj .content a:hover {
	color: #f10215;
	font-weight: 600;
	text-decoration: underline;	/* 添加下划线 */
}
/* 目录已完成，接下来直接填入内容即可 */
/* 政策解析页的文件盒子 */
#wenjian {
	display: block;
	width:	150px;
	height: 220px;
	padding: 30px;
}
#wenjian img {
	width: 100%;
}

/* 电科存放区域begin */
.edu {
	width: 1000px;
	/* border: 1px solid blue; */
	margin: 20px auto 0;
	padding-bottom: 23px;
}
.edu #LOGO {
	height: 150px;
	width: 150px;
	position: relative;
	top: 16px;
	left: 58px;
}

#LOGO h2 {
	width: 100%;
	height: 100%;
	overflow: hidden;
	/* border: 1px solid red; */
}
#LOGO p{
	text-indent: -999px;
}
#LOGO a {
	display: block;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#LOGO a img {
	width: 150px;
}

.edu  h3 {
	font-size: 22px;
	line-height: 0;
	position: relative;
	top: -20px;
	left: 46px;
}


/* 川农专属样式begin */
.content {
	margin-top: 28px;
}
.content::after {
	content:'';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;

}
.edu .text {
	margin: 40px auto 0;
}

.edu .dianke {
	margin-top: 0;
}
.text h4 {
	line-height: 60px;
	text-indent: -30px;
	font-size: 18px;
	text-align: left;
}
.text .s {
	font-weight: 600;
}
.text p.s a {
	display: inline-block;
	color: #136ec2;
	text-indent: -2px;
}
.text .s a:hover {
	color: #f10215;
	text-decoration: underline;
}
.text .ss {
	color: #f10215;
}

.text .p {
	margin-left: 112px;
}

.text u {
	color: blue;
}


/* 川农招生专业表begin */
.text caption {
	line-height: 120px;
	color: #f10215;
	font-weight: 600;
}
.text th,
.text td {
	font-size: 16px;
	line-height: 20px;
	padding: 6px 20px;
}


/* 电科专属样式 */
.tab .edu {
	padding-bottom: 41px;
}
.dk .content i {
	font-size: 14px;
	font-weight: 500;
	margin-left: 2px;
}
div.content dt a {

	font-size: 14px;
}
div.content dd a {

	font-size: 12px;
}
.dk i {
	font-weight: 600;
}
.dk .ss {
	margin: 20px auto;
	font-weight: 600;
}
.yangben{
	width: 1000px;
	height: 305px;
	margin-top: 20px;
}

.yangben img {
	width: 440px;
}

.yangben .left {
	float: left;
	height: 305px;
}
.yangben .right {
	float: right;
	height: 305px;
}
.content dl a:hover {
	text-decoration: underline;
	color: #f10215;
}


/* 西科专属样式 */
.xk .imgs {
	position: relative;
	cursor: pointer;
}
.xk a:hover {
	text-decoration: underline;
}
.xk .img {
	text-align: center;
	display: none;
}
.xk p.tesu {
	color: #f10215;
	font-weight: 600;
	text-decoration: underline;
	line-height: 40px;
}
.xk .text .imgs:hover img {
	display: block;
	position: absolute;
	left: 150px;
	top: 20px;
	z-index: 1;
}
.xk .text .ss {
	font-weight: 500;
}
/* 川大专属样式begin */
.tab .chuanda {
	padding-bottom: 40px;
}
	/* 川大目录样式 */
.chuanda .content {
	position: relative;
	top: 18px;
	/* height: 210px; */
	margin-bottom: 10px;
}
.chuanda .content P {
	font-size: 18px;
}
.chuanda .content a {
	display: block;
    font-size: 14px;
    text-align: left;
}
.chuanda .content dl{
	margin: 4px 28px 0 34px;
}
.chuanda .content dt {
	line-height: 28px;
	font-size: 16px;
	text-align: left;
}
.chuanda dd a {
	color: #000;
}

.chuanda a:hover {
	color: #f10215;
	text-decoration: underline;
}

#chuanda {
	margin-top: 34px;
}

#yangben {
	height: 608px;
	position: relative;
}
#Cover {
	position: absolute;
	top: 310px;
	left: 0px;
}
.tongkaobaokao th, .tongkaobaokao td{
	font-size: 16px;
	line-height: 20px;
	padding: 6px 20px;
}
.wj .bkwz:hover {
	font-weight: 600;
	color: red;
}